<div layout="cdn_pre">
	<!-- CDN CSS -->
	<link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet">
	<link href="https://unpkg.com/font-awesome@4.6.3/css/font-awesome.min.css" rel="stylesheet">
	

	{% comment %} Google Fonts {% endcomment %}
	{% assign fonts = "https://fonts.googleapis.com/css2?" %}

	{%- comment %} Gloria Hallelujah {% endcomment -%}
	{%- assign fonts = fonts | append: "family=Gloria+Hallelujah&" -%}
	{%- comment %} Comfortaa {% endcomment -%}
	{%- assign fonts = fonts | append: "family=Comfortaa:wght@300;600&" -%}
	{%- comment %} Amatic SC {% endcomment -%}
	{%- assign fonts = fonts | append: "Amatic+SC:wght@400;700&" -%}
	{%- comment %} Shadows Into Light {% endcomment -%}
	{%- assign fonts = fonts | append: "family=Shadows+Into+Light&" -%}
	{%- comment %} Fira Code {% endcomment -%}
	{%- assign fonts = fonts | append: "family=Fira+Code:wght@300&" -%}

	<!-- Google Fonts API -->
	<link href="{{ fonts | append: "display=swap" }}" rel="stylesheet">
</div>
