<nav layout="navigation">
	{% if page.previous.url %}
	<button><a href="{{ site.baseurl }}{{ page.previous.url }}">
		<h2>PREVIOUS</h2>
	</a></button>
	{% endif %}
	<button><a href="{{ site.baseurl }}/index/">
		<h2>INDEX</h2>
	</a></button>
	<button><a href="{{ site.baseurl }}/">
		<h2>HOME</h2>
	</a></button>
	<button onclick="generateArticle('{{ page.url }}')">
		<h2>RANDOM</h2>
	</button>
	{% if page.next.url %}
	<button><a href="{{ site.baseurl }}{{ page.next.url }}">
		<h2>NEXT</h2>
	</a></button>
	{% endif %}
</nav>
