# Jekyll/gh-pages
.vscode/*
_site/*
vendor/bundle/
.bundle/

# SvelteKit
.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example

# VSCode
.vscode/settings.json
.vscode/javascript.code-snippets
