{%- comment -%}

This include takes an object as an argument:
OBJECT STRUCTURE:
- type: image/text/link
  image: (optional) image path
  text: (optional) any optional text
  url: (optional) hyperlink to page
  colour: (for non-image tiles)
  fontsize: (optional) multiplier for h1 overlays

- using the link type requires a page object to be passed as well

data-aos-once="true"
	data-aos="fade-up" data-aos-delay="50" data-aos-duration="500"

{%- endcomment -%}

<div layout="tile" class="gallery-tile">
	{% if include.page %}
		{% assign caption = include.page.title %}
		<a href="{{ site.baseurl }}{{ include.page.url }}"
			style="text-decoration:none">
	{% elsif include.title.url %}
		<a href="{{ site.baseurl }}{{ include.tile.url }}"
			style="text-decoration:none">
		{% assign caption = include.tile.text %}
	{% else %}
		{% assign caption = include.tile.text %}
	{% endif %}

	<!-- Tile Type -->
	{% case include.tile.type %}
		{% when "image" %}
			<div>
				<img src="{{ site.imgurl }}{{ include.tile.image }}"/>
				<h1 {% if include.tile.fontsize %}style="--multiplier:
				{{ include.tile.fontsize }}"{% endif %}>{{ caption }}</h1>
			</div>

		{% when "text" %}
			<div style="background-color: var({{ include.tile.colour }})"
				class="side-padding">
				<h2>{{ include.tile.text }}</h2>
			</div>

		{% when "link" %}
			<div style="background-color: var({{ include.tile.colour }})"
				class="side-padding">
				<h2>{{ include.page.title }}</h2>
				<hr>
				<h4>{{ include.page.date | date: "%m-%d-%Y" }}</h4>
			</div>

	{% endcase %}
	{% if include.page or include.title.url %}</a>{% endif %}

	<div class="gallery-push"></div>
</div>
