/*---------------------------------- Global ----------------------------------*/

/* Basic document configuration */
html, body {
	height: 100%;
	margin: 0;
	line-height: 1.5;
}

/* Simple fade animation */
@keyframes fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/* Basic side-padding */
.side-padding {
	padding-left: 30px;
	padding-right: 30px;
}

/*-------------------------------- Site Fonts --------------------------------*/

/* Headings */
h1, h2, h4, h6 {
	text-align: center;
	margin: 10px 0;
	font-weight: 400;
}

/* Tile text */
h1 {
	font-family: 'Gloria Hallelujah', cursive;
	color: black;
	font-size: 36px;
}

/* Page titles */
h2 {
	font-family: 'Gloria Hallelujah', cursive;
	color: black;
	font-size: 30px;
}

/* Page subtitles/dates */
h4 {
	font-family: 'Gloria Hallelujah', cursive;
	color: gray;
	font-size: 20px;
}

/* Footnotes */
h6 {
	font-family: 'Gloria Hallelujah', cursive;
	color: lightgray;
	font-size: 16px;
}

/* Main body text */
p {
	font-family: 'Comfortaa', cursive;
	color: black;
	font-size: 16px;
	text-align: left;
}

label {
	font-family: 'Comfortaa', cursive;
	color: black;
	font-size: 16px;
	display: block;
	text-align: center;
}

/*------------------------------- Site Elements ------------------------------*/

/* Remove link styling from links directly within buttons */
button > a {
	text-decoration: none;
}

/* Basic formatting for input fields (varies between browsers) */
input, textarea {
	all: unset;
	border: none;
	border-bottom: 1px solid #ccc;
	width: 100%;
	font-family: 'Comfortaa', cursive;
	font-size: 16px;
}

/*--------------------------------- Buttons ----------------------------------*/

/* Generic website button format */
button {
	all: unset;
	border: 1px solid;
	background-color: white;
	border-color: var(--BOJIT-medium);
	transition: background-color 0.2s ease-in, border-color 0.2s ease-in;
	-moz-transition: background-color 0.2s ease-in, border-color 0.2s ease-in;
	-webkit-transition: background-color 0.2s ease-in, border-color 0.2s ease-in;
	-o-transition: background-colour 0.2s ease-in, border-color 0.2s ease-in;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 15px;
}

/* Button headings (default to h2) */
button h2 {
	margin: 0;
	padding: 10px;
	color: var(--BOJIT-medium);
	transition: color 0.2s ease-in;
	-moz-transition: color 0.2s ease-in;
	-webkit-transition: color 0.2s ease-in;
	-o-transition: color 0.2s ease-in;
}

/* Invert button on hover */
button:hover {
	background-color: black;
	border-color: black;
}

/* Invert text on hover */
button:hover h2 {
	color: white;
}

/*--------------------------------- Gallery ----------------------------------*/

/* Add half-margins to the gallery edges + initialise hidden while loading */
.gallery {
	margin-left: 10px;
	margin-right: 10px;
	display: none;
	visibility: hidden;
}

/* Formatting applied to all gallery tiles */
.gallery-tile {
	float: left;
	margin-bottom: 20px;	/* Should correspond to margin set in JS */
	/* Width = 100%/col_num - total_gutter/col_num */
	width: calc(100%/3 - 40px/3);
}

/* Basic tile div formatting */
.gallery-tile div {
	position: relative;
	transition: background-color 0.2s ease-in;
	-moz-transition: background-color 0.2s ease-in;
	-webkit-transition: background-color 0.2s ease-in;
	-o-transition: background-color 0.2s ease-in;
}

/* Text-only divs turn black on hover */
.gallery-tile:hover .side-padding {
	background-color: black !important;
}

/* Formatting for images inside tiles */
.gallery-tile img {
	display: block;
	width: 100%;
	transition: opacity 0.2s ease-in;
	-moz-transition: opacity 0.2s ease-in;
	-webkit-transition: opacity 0.2s ease-in;
	-o-transition: opacity 0.2s ease-in;
}

/* Fade image on hover */
.gallery-tile:hover img {
	opacity: 0.6;
}

/* Formatting for the image title overlays */
.gallery-tile h1 {
	opacity: 0%;
	transition: opacity 0.2s ease-in;
	-moz-transition: opacity 0.2s ease-in;
	-webkit-transition: opacity 0.2s ease-in;
	-o-transition: opacity 0.2s ease-in;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	--multiplier: 1;
	font-size: calc(var(--multiplier) * 5vw);
}

/* Show title on hover */
.gallery-tile:hover h1 {
	opacity: 100%;
}

/* Non-image tile titles */
.gallery-tile h2, h4 {
	margin: 0;
	padding: 15px;
	transition: color 0.2s ease-in;
	-moz-transition: color 0.2s ease-in;
	-webkit-transition: color 0.2s ease-in;
	-o-transition: color 0.2s ease-in;
}

/* Text to white on hover */
.gallery-tile:hover h2 {
	color: white;
}

/* Change ruled break formatting */
.gallery-tile hr {
	margin: 0;
}

/* Formatting for the 'pushes' that fill in the masonry gaps */
.gallery-tile > .gallery-push {
	margin-top: 20px;
	background-color: #eeeeee;
	display: none;
}

/* Stack the tiles on mobile sites */
@media (max-width: 768px) {
	.gallery-tile {
		width: 100%;
	}

	.gallery-tile h1 {
		font-size: calc(var(--multiplier) * 16vw);
	}
}

/*------------------------------ Parallax Window -----------------------------*/

/* Create fixed image on scrolling page to create 'parallax' effect */
.parallax {
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100%;
}

/* Control any overlay parameters */
.parallax .page-overlay-centre {
	height: 65vh;
}

/* Turn off parallax for mobile devices (too GPU intensive) */
@media only screen and (max-device-width: 1200px) {
	.parallax {
		background-attachment: scroll;
	}
}

/* Rescale any overlays to match the new mobile scale */
@media (max-width: 768px) {
	.parallax {
		background-attachment: scroll;
	}

	.parallax .page-overlay-centre {
		height: auto;
		width: 80vw;
	}
}

/*-------------------------------- Page Layout -------------------------------*/

/* Set page height to keep footer at the bottom */
#page-content {
	min-height: 100%;
}

/* Spacer that pushes the footer to the bottom when the page does not scroll */
#page-push {
	height : 296px;		/* Height of the Footer Image */
}

/* Footer/push spacing */
#page-footer {
	height: 296px;		/* Height of the Footer Image */
	margin-top: -296px;
}

/* Container for banners/overlays that should fill the entire screen width */
.page-span {
	width: 100vw;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
	margin-left: -50vw;
	left: 50%;
}

/* Overflow-centred image for full-width graphics */
.page-banner {
	position:relative;
	float: right;
	right: 50%;
	z-index: 0;
}

/* Image offset within banner */
.page-banner img {
	position: relative;
	right:-50%;
	/* width:100vw; */
}

@media (min-width: 1919px) {
	.page-banner img {
		width:100vw;
	}
}

/* Overlay over span that sits on top of a banner - centre aligned */
.page-overlay-centre {
	position: absolute;
	margin: 0;
	z-index: 1;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* Overlay over span that sits on top of a banner - top aligned */
.page-overlay-top {
	position: absolute;
	margin: 0;
	z-index: 1;
	left: 50%;
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}

/*------------------------------ Caption Layout ------------------------------*/

/* Flex container for 2-div layout */
.caption-circle {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}

/* Contents div - should contain the text (wider content) */
.caption-circle > div:first-child {
	flex: 70%;
	padding: 20px;
}

/* Image div - should contain an image tag */
.caption-circle > div:last-child {
	flex: 30%;
	padding: 20px;
	margin: 0 auto;
}

/* Image to be circularly cropped */
.caption-circle > div:last-child > img {
	width: 100%;
	border-radius: 50%;
}

/* Stack columns when in mobile view */
@media (max-width: 768px) {
	.caption-circle {
		display: block;
	}

	.caption-circle > div:last-child {
		width: 60%;
	}
}
