---
layout: default
title: BOJIT
permalink: /
---

<!-- Parallax Header Image -->
<div class="parallax" style="height: 100vh;
background-image: url('{{ site.imgurl }}/general/home_banner_1080.JPG');">
	<img class="page-overlay-centre" src="{{ site.imgurl }}/general/BOJIT_circle.PNG">
</div>

<!-- Article Tiles -->
<br>

<div class="gallery">
	{% for pg in site.pages %}
		{% if pg.tile %}
		{% include tile.html tile=pg.tile page=pg %}
		{% endif %}
	{% endfor %}
	{% for pg in site.posts %}
		{% if pg.tile %}
		{% include tile.html tile=pg.tile page=pg %}
		{% endif %}
	{% endfor %}
</div>

<article><hr></article>
