---
layout: default
---

<!-- THIS PAGE LAYOUT WILL EVENTUALLY BE DEPRECATED!!!!! -->

<!-- Header -->
{% include header.html %}

<!-- Article Contents (width can be overriden from front-matter)-->
<article class="w3-padding-large w3-center w3-animate-opacity">
	<h2><b>{{ page.title | upcase }}</b></h2>
	{% if page.date %}
	<h4>{{ page.date | date: "%d-%m-%Y" }}</h4>
	{% endif %}
	{{ content }}
</article>

<!-- Gallery Tiles -->
<div class="gallery">
	{% for tile in page.gallery %}
		{% include tile.html tile=tile %}
	{% endfor %}
</div>

<!-- Optional Pre-Footer Components -->
<article class="w3-padding-large w3-center w3-animate-opacity">
	{% if page.categories contains "tutorials" %}
		<br>
		{% include disqus.html %}
	{% endif %}
	{% if page.categories %}
		<br>
		{% include navigation.html %}
		<br>
	{% endif %}
	<hr>
</article>

