---
layout: default
---

<!-- Header -->
{% include header.html %}

<!-- Article Contents (width can be overriden from front-matter)-->
<article>
	<!-- Title and Subtitle -->
	<h2><b>{{ page.title | upcase }}</b></h2>
	{% if page.date %}
		<h4>{{ page.date | date: "%d-%m-%Y" }}</h4>
	{% endif %}
	
	{{ content }}

	<!-- Optional Pre-Footer Components -->
	{% if page.categories contains "tutorials" %}
		<br>
		{% include disqus.html %}
		<br>
	{% endif %}
	{% if page.categories %}
		<br>
		{% include navigation.html %}
		<br>
	{% endif %}
	<hr>
</article>
